In [ ]:
a = 3902
b = 3290.123
c = "this is sparta"
d = True
e = None

In [ ]:
fruits = ["apple", "banana", "cherry" ]  # list
coords = (23.32, 32.00, 3.022) # touple
person = {"name": "john", "age": 36} # dictionary
movies = {'avangers', 'ironman', 'hulk'} # set

In [ ]:
'apple' in fruits   # for searching

In [ ]:
'avocado' not in fruits # for searching operators

In [ ]:
name = input("enter your name")
iq = int(input("what is your iq(1-150)"))

In [ ]:
pi = 22/7
r = float(input("radius:"))
area = pi * r ** 2

In [ ]:
print('for a radius of',r,',area=>', area)

In [ ]:
print('apple', 'banana', 'cherry')
print('apple', 'banana', 'cherry', sep=',')
print('apple', 'banana', 'cherry', sep='\n')

In [ ]:
print("for a radius of {r}, the area is {area:.1f}üòé ‚ù§Ô∏è")

In [ ]:
print(f'Integer {a}')
print(f'Integer {b}')
print(f'Integer {c}')
print(f'Integer {d}')
print(f'Integer {e}')

In [ ]:
from turtle import

fillcolor('red')
begin_fill()
for i in range(5):
    fd(100)
    lt(72)
    end_fill()
    fillcolor('yellow')
    begin_fill()
    circle(50)
    end_fill()
    mainloop()

In [ ]:
from turtle import *

speed('slow')
pencolor('red')
for i in range(100):
    fd(i*3+5)
    lt(90)

    mainloop()