In [ ]:
if x % 2 == 0:
    print("Even")

In [ ]:
price = 1300
if price > 2000:
    print("Expensive")
else:
    print('we can buy it')

In [ ]:
marks = int(input('Enter your marks:'))
total = 600
pct = marks/total*100
print(f'{marks}/{total} = {pct: .2f}%')
if pct > 90:
    grade = 'A'
elif pct > 75:
    grade = 'B'
elif pct > 60:
    grade = 'C'
elif pct > 40:
    grade = 'D'
else:
    grade = 'F'
print(f'Grade: {grade}')

In [ ]:
print("What is the capital of Bihar ?")
ans = input('your answer:')
match ans:
    case 'delhi':
        print("Incorrect")
    case 'patna'| 'Patna' :
        print("correct")
    case _: 
        print("Invalid answer")

In [ ]:
movies = [
    "Iron man",
    "the king",
    "the playlist",
    "the matrix",
    "antman",
    "hulk",
    "garduian of the  galaxy",
    "inception",
    "jawan",
    "jhon wick",
    "thor",
    "saving private Ryan",

]

for item in iterable:
    statement 1
    ...
    statement n

In [ ]:
for i in movies:
    print(i)

In [ ]:
for i in [12,45,56,122]:
    print(i)

In [ ]:
len(movies)

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
for i in range(1,20,2):
    print(i)

In [ ]:
for name in movies:
    if 'the' in name.lower():
        print(name)

In [ ]:
x = [3,2,1,5,6]
total = 0
for i in x:
    total += i 
print(total)

In [ ]:
sum(x) # pythonic way

In [ ]:
n = 10
fact = 1
for i  in range(2, n+1):
    fact *= i 
    print(fact)

In [ ]:
n = 55
fact = 1
for i in  range (2, n+1):
    fact *= i
print(fact)

In [24]:
a = 1
while a < 10:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [26]:
while True:
    x = input('Enter a number:')
    if x.isnumeric():
        print('very good')
        break
    else:
        print('invalid input')

invalid input
invalid input
invalid input
invalid input
invalid input
very good

In [1]:
print('done')

done